/* Global Configs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    background: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);

    color: #fff;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    color: #ccc;
}

/* Hero */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: 2px solid black;
}
.hero-left {
    background-color: #FFF8DE;
    border-right: solid 2px black;
    height: 100%;
    width: 35%;
}
.hero-right {
    background-color: #FF7444;
    height: 100%;
    width: 75%;
}
.floating-hero {
    position: absolute;
    border-radius: 30px;
    top: 25%;
    left: 21%;
    border: 2px solid black;
    background-color: whitesmoke;
    width: 400px;
    height: 500px;
    box-shadow: 10px 10px 0 0 #000;
}

/* About */
.about {
    margin: 0;
    padding: 0;
    height: fit-content;
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: 2px solid black;
}
.about-left {
    background-color: #FF7444;
    border-right: solid 2px black;
    height: 100vh;
    width: 75%;
}
.about-right {
    background-color: wheat;
    height: 100vh;
    width: 35%;
}
.floating-about {
    position: absolute;
    border-radius: 30px;
    top: 17%;
    right: 21%;
    border: 2px solid black;
    background-color: whitesmoke;
    width: 900px;
    height: 600px;
    box-shadow: -10px 10px 0 0 #000;
}

/* Projects */
.projects {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border-bottom: 2px solid black;
}

.floating-projects {
    width: 80%;
    height: 80%;
    background-color: #FFFBB1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 4px solid black;
    border-radius: 10px;
}

#box1, #box2, #box3 {
    width: 400px;
    height: 500px;
    background-color: #D8E983;
    border: 2px solid black;
    border-radius: 10%;
    box-shadow: 10px 10px 0 #000;
    transition: 
        transform 0.15s ease,
        box-shadow 0.15s ease;
    cursor: pointer;
}

#box1:hover,
#box2:hover,
#box3:hover {
    box-shadow: 0 0 0 #000;
    transform: translate(10px, 10px) scale(1);
}

/* Skills */
.skills {
    width: 100%;
    height: 300px;
    background-color: #FF7444;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black
}
.skills-scroll {
    display: flex;
    gap: 30px;
    width: max-content;
    padding-right: 30px;
    animation: scroll 12s linear infinite;
}
.skills-scroll:hover {
    animation-play-state: paused;
}
.skill {
    width: 170px;
    height: 170px;
    background-color: wheat;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
    flex-shrink: 0;
}
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Contact */
.contact {
    width: 100%;
    height: 800px;
    background-color: beige;
    display: flex;
}
.contact-left {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#floating-contact {
    width: 70%;
    height: 80%;
    background-color: whitesmoke;
    border-radius: 8%;
    box-shadow: -10px 10px 0 #000;
}
.contact-right {
    width: 65%;
    display: flex;
    flex-direction: column;
}
#contact-top {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
#contact-title {
    height: 100%;
    width: 90%;
    color: #000;
    font-size: 140px;
    font-weight: bolder;
}
#contact-bottom {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#contact-from-area {
    width: 90%;
    height: 100%;
    border-left: 2px solid black;
    border-top: 2px solid black;
}

/* Footer */
footer {
    width: 100%;
    height: auto;
    padding: 50px 0 20px 0;
    margin: 0;
    background: linear-gradient(to right, #111, #222); 
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.cta-text {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ddd;
}
#copyright {
    font-size: 14px;
    color: #888;
    /* margin-top: 20px; */
}
.footer-socials {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 90px;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-socials li {
    list-style: none;
}
.footer-socials li a {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: #ddd;
    background: rgba(255, 255, 255, 0.05);
    transition: 0.5s;
    overflow: hidden;
}
.footer-socials li a span {
    position: absolute;
    transition: transform 0.5s;
}
.footer-socials li a span:nth-child(1),
.footer-socials li a span:nth-child(3) {
    width: 100%;
    height: 2px;
    background: #fff;
}
.footer-socials li a span:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
}
.footer-socials li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}
.footer-socials li a span:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
}
.footer-socials li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.footer-socials li a span:nth-child(2),
.footer-socials li a span:nth-child(4) {
    width: 2px;
    height: 100%;
    background: #fff;
}
.footer-socials li a span:nth-child(2) {
    top: 0;
    left: 0;
    transform: scaleY(0); /* Corrected from scale(0) for pure vertical animation */
    transform-origin: bottom;
}
.footer-socials li a:hover span:nth-child(2) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.5s;
}
.footer-socials li a span:nth-child(4) {
    top: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin: top;
}
.footer-socials li a:hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
/* Facebook */
.footer-socials li a.facebook:hover {
    color: #3b5998;
    box-shadow: 0 0 15px #3b5998;
    text-shadow: 0 0 15px #3b5998;
}
.footer-socials li a.facebook:hover span { 
    background: #3b5998;
}
/* Twitter */
.footer-socials li a.twitter:hover {
    color: #1da1f2;
    box-shadow: 0 0 15px #1da1f2;
    text-shadow: 0 0 15px #1da1f2;
}
.footer-socials li a.twitter:hover span { 
    background: #1da1f2;
}
/* Instagram */
.footer-socials li a.instagram:hover {
    color: #c32aa3;
    box-shadow: 0 0 15px #c32aa3;
    text-shadow: 0 0 15px #c32aa3;
}
.footer-socials li a.instagram:hover span { 
    background: #c32aa3;
}
/* Google */
.footer-socials li a.google:hover {
    color: #dd4b39;
    box-shadow: 0 0 15px #dd4b39;
    text-shadow: 0 0 15px #dd4b39;
}
.footer-socials li a.google:hover span { 
    background: #dd4b39;
}
hr {
    width: 100%;

}

/* Mobile Responsiveness */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
    .nav-links {
        margin-top: 15px;
    }
}