/* Global Configs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    color: #fff;
    padding: 15px 30px;
    position: sticky; /* keeps nav at top when scrolling */
    top: 0;
    z-index: 1000;
    border-bottom: solid 1px white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    color: #ccc;
}

/* Hero */
.hero {
    margin: 0;
    padding: 0;
    height: fit-content;
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: 2px solid black;
}
.hero-left {
    background-color: #FFF8DE;
    border-right: solid 2px black;
    height: 100vh;
    width: 35%;
}
.hero-right {
    background-color: #FF7444;
    height: 100vh;
    width: 75%;
}
.floating-hero {
    position: absolute;
    border-radius: 30px;
    top: 20%;
    left: 21%;
    border: 2px solid black;
    background-color: whitesmoke;
    width: 400px;
    height: 500px;
    box-shadow: 10px 10px 0 0 #000;
}

/* About */
.about {
    margin: 0;
    padding: 0;
    height: fit-content;
    display: flex;
    flex-direction: row;
    position: relative;
}
.about-left {
    background-color: #FF7444;
    border-right: solid 2px black;
    height: 100vh;
    width: 75%;
}
.about-right {
    background-color: wheat;
    height: 100vh;
    width: 35%;
}
.floating-about {
    position: absolute;
    border-radius: 30px;
    top: 20%;
    right: 21%;
    border: 2px solid black;
    background-color: whitesmoke;
    width: 900px;
    height: 600px;
    box-shadow: -10px 10px 0 0 #000;
}

/* Footer */
footer {
    background-color: #222222;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
    .nav-links {
        margin-top: 15px;
    }
}